/* Write your CSS here */

.speedometer-container {
  height: 100vh;
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
}
.speedometer-img {
  height: 300px;
  width: 500px;
}
.heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
}
.desc {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}
.accelerate-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: 0px solid #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  padding: 20px;
}
.apply-brake-btn {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
}
